@media (max-width: 320px){
    /*body{
        background: yellow;
    }
    p{
        background: red;
        color: white;
    }*/
    .primera_main_aula{
      /*background: lime;*/
      /*position: flex;*/
      /*margin: 5% 160%;*/
      /*margin: 5vmax 35vmax;*/
      /*margin: 5vmax 31vw;*/
      margin: 5vmax 22vmin;
    }

    .formulario{
      max-width: 400px;
      /*padding: 35px;*/
      padding: 25px;
      /*margin: 80px auto;*/
      background:white;
      border: 1px solid #e2e2e2;
      border-radius:10px;
      /*width: 250px;*/
      /*width: 200px;*/
      width: 150px;
      /*height: 320px;*/
      /*height: 270px;*/
      height: 220px;
    }

    form{
      display: inline-table;
      position: relative;
      /*background: red;*/
      /*padding: 5px 10px 180px 10px;*/
      width: 100%;
      max-height: auto;
      /*font-size: 1.02em;*/
      /*font-size: 0.95em;*/
      /*font-size: 0.87em;*/
      /*font-size: 0.75em;*/
      font-size: 0.72em;

    }

    input{
      /*background: lime;*/
      display: block;
      width: 90%;
      margin: 30px 10px;
      /*font-size: 1.02em;*/
      /*font-size: 0.95em;*/
      /*font-size: 0.87em;*/
      font-size: 0.75em;
      /*line-height: 1.8em;*/
      /*line-height: 1.5em;*/
      /*line-height: 1.2em;*/
      line-height: 0.9em;
      appearance: textfield;
      border-radius: 5px;
      border: 1px solid #ccc;
      padding: 5px 0px 5px 5px;
    }

    button{
      color: #fff;
      background: #337AB7;
      border-color: #2e6da4;
      border-radius: 5px;
      width: 90%;
      /*margin: 30px 10px;*/
      margin: 10px 10px;
      /*font-size: 1.18em;*/
      /*font-size: 1.08em;*/
      font-size: 0.98em;
      /*line-height: 1.8em;*/
      line-height: 1.0em;
      padding: 5px 0px 5px 5px;
    }

    button:hover{
      background: #286090;
    }

    label{
      color: red;
      width: 100%;
      margin: 0px 0px;
      /*font-size: 1.1em;*/
      /*font-size: 0.95em;*/
      font-size: 0.85em;
    }
}

@media (min-width: 321px) and (max-width: 480px){
    .primera_main_aula{
      /*background: lime;*/
      /*position: flex;*/
      /*margin: 5% 160%;*/
      /*margin: 5vmax 35vmax;*/
      /*margin: 5vmax 31vw;*/
      margin: 5vmax 22vmin;
    }

    .formulario{
      max-width: 400px;
      /*padding: 35px;*/
      padding: 25px;
      /*margin: 80px auto;*/
      background:white;
      border: 1px solid #e2e2e2;
      border-radius:10px;
      /*width: 250px;*/
      /*width: 200px;*/
      width: 150px;
      /*height: 320px;*/
      /*height: 270px;*/
      height: 220px;
    }

    form{
      display: inline-table;
      position: relative;
      /*background: red;*/
      /*padding: 5px 10px 180px 10px;*/
      width: 100%;
      max-height: auto;
      /*font-size: 1.02em;*/
      /*font-size: 0.95em;*/
      /*font-size: 0.87em;*/
      font-size: 0.75em;
    }

    input{
      /*background: lime;*/
      display: block;
      width: 90%;
      margin: 30px 10px;
      /*font-size: 1.02em;*/
      /*font-size: 0.95em;*/
      /*font-size: 0.87em;*/
      font-size: 0.75em;
      /*line-height: 1.8em;*/
      /*line-height: 1.5em;*/
      /*line-height: 1.2em;*/
      line-height: 0.9em;
      appearance: textfield;
      border-radius: 5px;
      border: 1px solid #ccc;
      padding: 5px 0px 5px 5px;
    }

    button{
      color: #fff;
      background: #337AB7;
      border-color: #2e6da4;
      border-radius: 5px;
      width: 90%;
      /*margin: 30px 10px;*/
      margin: 10px 10px;
      /*font-size: 1.18em;*/
      font-size: 1.08em;
      /*line-height: 1.8em;*/
      line-height: 1.5em;
      padding: 5px 0px 5px 5px;
    }

    button:hover{
      background: #286090;
    }

    label{
      color: red;
      width: 100%;
      margin: 0px 0px;
      /*font-size: 1.1em;*/
      font-size: 0.95em;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    .primera_main_aula{
      /*background: lime;*/
      /*position: flex;*/
      /*margin: 5% 160%;*/
      /*margin: 5vmax 35vmax;*/
      margin: 5vmax 31vw;
    }

    .formulario{
      max-width: 400px;
      /*padding: 35px;*/
      padding: 25px;
      /*margin: 80px auto;*/
      background:white;
      border: 1px solid #e2e2e2;
      border-radius:10px;
      /*width: 250px;*/
      /*width: 200px;*/
      width: 150px;
      /*height: 320px;*/
      /*height: 270px;*/
      height: 220px;
    }

    form{
      display: inline-table;
      position: relative;
      /*background: red;*/
      /*padding: 5px 10px 180px 10px;*/
      width: 100%;
      max-height: auto;
      /*font-size: 1.02em;*/
      /*font-size: 0.95em;*/
      /*font-size: 0.87em;*/
      font-size: 0.75em;
    }

    input{
      /*background: lime;*/
      display: block;
      width: 90%;
      margin: 30px 10px;
      /*font-size: 1.02em;*/
      /*font-size: 0.95em;*/
      /*font-size: 0.87em;*/
      font-size: 0.75em;
      /*line-height: 1.8em;*/
      /*line-height: 1.5em;*/
      /*line-height: 1.2em;*/
      line-height: 0.9em;
      appearance: textfield;
      border-radius: 5px;
      border: 1px solid #ccc;
      padding: 5px 0px 5px 5px;
    }

    button{
      color: #fff;
      background: #337AB7;
      border-color: #2e6da4;
      border-radius: 5px;
      width: 90%;
      /*margin: 30px 10px;*/
      margin: 10px 10px;
      /*font-size: 1.18em;*/
      font-size: 1.08em;
      /*line-height: 1.8em;*/
      line-height: 1.5em;
      padding: 5px 0px 5px 5px;
    }

    button:hover{
      background: #286090;
    }

    label{
      color: red;
      width: 100%;
      margin: 0px 0px;
      /*font-size: 1.1em;*/
      font-size: 0.95em;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    .primera_main_aula{
      /*background: lime;*/
      /*position: flex;*/
      /*margin: 5% 160%;*/
      /*margin: 5vmax 35vmax;*/
      margin: 5vmax 34vmax;
    }

    .formulario{
      max-width: 400px;
      padding: 35px;
      /*margin: 80px auto;*/
      background:white;
      border: 1px solid #e2e2e2;
      border-radius:10px;
      /*width: 250px;*/
      width: 200px;
      /*height: 320px;*/
      height: 270px;
    }

    form{
      display: inline-table;
      position: relative;
      /*background: red;*/
      /*padding: 5px 10px 180px 10px;*/
      width: 100%;
      max-height: auto;
      /*font-size: 1.02em;*/
      /*font-size: 0.95em;*/
      font-size: 0.87em;
    }

    input{
      /*background: lime;*/
      display: block;
      width: 90%;
      margin: 30px 10px;
      /*font-size: 1.02em;*/
      /*font-size: 0.95em;*/
      font-size: 0.87em;
      /*line-height: 1.8em;*/
      /*line-height: 1.5em;*/
      line-height: 1.2em;
      appearance: textfield;
      border-radius: 5px;
      border: 1px solid #ccc;
      padding: 5px 0px 5px 5px;
    }

    button{
      color: #fff;
      background: #337AB7;
      border-color: #2e6da4;
      border-radius: 5px;
      width: 90%;
      margin: 30px 10px;
      /*font-size: 1.18em;*/
      font-size: 1.08em;
      /*line-height: 1.8em;*/
      line-height: 1.5em;
      padding: 5px 0px 5px 5px;
    }

    button:hover{
      background: #286090;
    }

    label{
      color: red;
      width: 100%;
      margin: 0px 0px;
      /*font-size: 1.1em;*/
      font-size: 0.95em;
    }
}

@media (min-width: 1025px) and (max-width: 1200px){
    .primera_main_aula{
      /*background: lime;*/
      /*position: flex;*/
      /*margin: 5% 160%;*/
      margin: 5vmax 35vmax;
    }

    .formulario{
      max-width: 400px;
      padding: 35px;
      /*margin: 80px auto;*/
      background:white;
      border: 1px solid #e2e2e2;
      border-radius:10px;
      width: 250px;
      height: 320px;
    }

    form{
      display: inline-table;
      position: relative;
      /*background: red;*/
      /*padding: 5px 10px 180px 10px;*/
      width: 100%;
      max-height: auto;
      /*font-size: 1.02em;*/
      font-size: 0.95em;
    }

    input{
      /*background: lime;*/
      display: block;
      width: 90%;
      margin: 30px 10px;
      /*font-size: 1.02em;*/
      font-size: 0.95em;
      /*line-height: 1.8em;*/
      line-height: 1.5em;
      appearance: textfield;
      border-radius: 5px;
      border: 1px solid #ccc;
      padding: 5px 0px 5px 5px;
    }

    button{
      color: #fff;
      background: #337AB7;
      border-color: #2e6da4;
      border-radius: 5px;
      width: 90%;
      margin: 30px 10px;
      /*font-size: 1.18em;*/
      font-size: 1.08em;
      /*line-height: 1.8em;*/
      line-height: 1.5em;
      padding: 5px 0px 5px 5px;
    }

    button:hover{
      background: #286090;
    }

    label{
      color: red;
      width: 100%;
      margin: 0px 0px;
      /*font-size: 1.1em;*/
      font-size: 0.95em;
    }
}

@media (min-width: 1201px){
    .primera_main_aula{
      /*background: lime;*/
      /*position: flex;*/
      /*margin: 5% 160%;*/
      margin: 5vmax 38vmax;
    }

    .formulario{
      max-width: 400px;
      padding: 35px;
      /*margin: 80px auto;*/
      background:white;
      border: 1px solid #e2e2e2;
      border-radius:10px;
      width: 250px;
      height: 320px;
    }

    form{
      display: inline-table;
      position: relative;
      /*background: red;*/
      /*padding: 5px 10px 180px 10px;*/
      width: 100%;
      max-height: auto;
      font-size: 1.02em;
    }

    input{
      /*background: lime;*/
      display: block;
      width: 90%;
      margin: 30px 10px;
      font-size: 1.02em;
      line-height: 1.8em;
      appearance: textfield;
      border-radius: 5px;
      border: 1px solid #ccc;
      padding: 5px 0px 5px 5px;
    }

    button{
      color: #fff;
      background: #337AB7;
      border-color: #2e6da4;
      border-radius: 5px;
      width: 90%;
      margin: 30px 10px;
      font-size: 1.18em;
      line-height: 1.8em;
      padding: 5px 0px 5px 5px;
    }

    button:hover{
      background: #286090;
    }

    label{
      color: red;
      width: 100%;
      margin: 0px 0px;
      font-size: 1.1em;
    }
}
