*{
  margin: 0px;
  padding: 0px;
}

body{
  background: #E9EAEC;
}

.cabecera{
  background: #0B317A;
  /*display: flex;
  position: fixed;
  z-index: 4;*/
  /*width: 100%;*/
  width: 100vw;
  /*height: 20vh;*/
  height: 10vh;
  /*line-height: 20vh;*/
  /*line-height: 10vh;*/
  line-height: 5vh;
  color: #ffffff;
  text-align: center;
  font-size: 7vmin;
}
.cabecera .academia{
  /*position: absolute;*/
  padding-top: 2.5vh;
  font-family: ethnocentric;
}
@font-face {
  font-family: "ethnocentric";
  src: url("../font/ethnocentric.ttf");
}
.lema{
  background: #0B317A;
  /*display: flex;
  position: fixed;
  z-index: 4;*/
  /*background: red;*/
  /*width: 100%;*/
  width: 100vw;
  height: 10vh;
  /*line-height: 20vh;*/
  line-height: 10vh;
  color: #ffffff;
  text-align: center;
  font-size: 5vmin;
}

.contenido{
  width: 100vw;
  /*height: 80vh;*/
  /*line-height: 25vh;*/
  line-height: 0vh;
  color: #ffffff;
  text-align: center;
  font-size: 7vmin;
}

.presentacion{
  width: 100vw;
  display: inline-flex;
  height: 40vh;
  line-height: 40vh;
  background: red;
}


.foto{
  /*background: #B5EECD;*/
  width: 50vw;
  background-image: url(../img/poster.jpg);
  background-repeat: no-repeat;
  /*background-size: auto;*/
  filter: opacity(0.8);
  filter: blur(0px);
}

.texto{
  /*background: #B5EECD;*/
  width: 50vw;
}
.texto p{
  font-size: 3.5vmin;
  line-height: 4vh;
  text-align: justify;
  margin: 4vmin;
  color: black;
}


/*IGUAL QUE LEMA*/
.comunicate{
  /*background: #0B317A;*/
  background: #2AC54E;
  /*display: flex;
  position: fixed;
  z-index: 4;*/
  /*background: red;*/
  /*width: 100%;*/
  width: 100vw;
  /*height: 10vh;*/
  height: 15vh;
  /*line-height: 20vh;*/
  /*line-height: 10vh;*/
  line-height: 15vh;
  color: white;
  text-align: center;
  font-size: 5vmin;
  /*display: block;*/
}
.comunicate p{
  display: inline;
  /*margin: -1vw 0vw;*/
  /*text-align: center;*/
}
.comunicate img{
  margin: 2vmin 2vmin -1.5vmin 0vmin;
  /*display: inline;*/
  width: 6vmin;
  height: 6vmin;
}




.login{
  /*background: green;*/
  /*FONDO DEL AREA DE MATERIAL_AULA DE LA SEGUNDA WEB*/
  /*background: #E9EAEC;*/
  /*background: #B5BCC2;*/
  width: 100vw;
  /*height: 40vh;*/
  /*height: 82.5vh;*/
  height: 85vh;
  /*height: auto;*/
  /*line-height: 40vh;*/
  line-height: 20vh;
}


.formulario{
  background: white;
  width: 50vw;
  border: 1px solid #e2e2e2;
  border-radius:1vw;
  /*margin: 10vmin;*/
  margin-top: 15vmin;
  /*esto es el original*/
  /*max-width: 400px;*/
  /*padding: 35px;*/
  /*margin: 80px auto;*/
  /*background:white;*/
  /*border: 1px solid #e2e2e2;*/
  /*border-radius:10px;*/
  /*width: 250px;*/
  /*height: 320px;*/
}
.formulario p{
  color: black;
  text-align: center;
  font-size: 5vmin;
}
form{
  display: inline-table;
  position: relative;
  /*background: red;*/
  /*padding: 5px 10px 180px 10px;*/
  width: 100%;
  max-height: auto;
}




input{
  /*background: lime;*/
  display: block;
  /*width: 20vw;*/
  width: 25vw;
  font-size: 3.0vmin;
  line-height: 4vh;
  /*margin: 1vh;*/
  margin: auto auto 2vmin auto;
  padding-left: 2vh;
  /*text-decoration: none;*/
  appearance: textfield;
  /*border-radius: 100vw;*/
  border-radius: 0.5vw;
  border: 1px solid #ccc;
}
.login_boton{
  color: #fff;
  background: #337AB7;
  border-color: #2e6da4;
  /*border-radius: 100vw;*/
  border-radius: 0.5vw;
  /*width: 20vw;*/
  /*width: 12vw;*/
  width: 15vw;
  font-size: 3.0vmin;
  line-height: 4vh;
  /*margin: 1vh;*/
  margin: auto;
  /*padding-left: 2vh;*/
}
.login_boton:hover{
  background: #286090;
}
