@media (max-width: 320px){
    .menu{
      color: #9B8B99;
      background: #373277;
      display: block;
      position: fixed;
      width: 100%;
      height: auto;
      /*height: 10.7vh;*/
      margin-top: -8px;
      margin-left: -8px;
      text-align: right;
      z-index: 3;
    }

    li{
      display: inline-block;
      list-style: none;
      font-size: .65em;
      /*margin: 0px 10px;*/
      margin: 0px 4px;
      /*cursor: pointer*/
    }

    li:hover{
      color: white;
    }

    .empresa{
      /*background: red;*/
      position: absolute;
      width: auto;
      height: 100%;
      margin: -16px 0px 0px 0px;
    }

    .empresa p{
      color: white;
      font-size: 12px;
      /*margin: 18px 0px 0px 45px;*/
      margin: 18px 0px 0px 5px;
      visibility: hidden; /* ESTO ES PARA CAMBIAR EL TEXTO DE LA ETIQUETA P */
    }

    /* ESTO ES PARA CAMBIAR EL TEXTO DE LA ETIQUETA P */
    .empresa p::before{
      content: "";
      visibility: visible;
    }

    .empresa figure{
      /*background: none;*/
      width: 32px;
      height: 32px;
      margin: -22px 0px 0px 5px;
    }

    .empresa img{
      /*display: flex;*/
      width: 25px;
      height: 25px;
    }

    /* ESTO ES PARA LOS ENLACES DEL MENU */
    .navegacion a{
      text-decoration: none;
      color: inherit;
    }
}

@media (min-width: 321px) and (max-width: 480px){
    .menu{
      color: #9B8B99;
      background: #373277;
      display: block;
      position: fixed;
      width: 100%;
      height: auto;
      /*height: 10.7vh;*/
      margin-top: -8px;
      margin-left: -8px;
      text-align: right;
      z-index: 3;
    }

    li{
      display: inline-block;
      list-style: none;
      font-size: .75em;
      /*margin: 0px 10px;*/
      margin: 0px 6px;
      /*cursor: pointer*/
    }

    li:hover{
      color: white;
    }

    .empresa{
      /*background: red;*/
      position: absolute;
      width: auto;
      height: 100%;
      margin: -16px 0px 0px 0px;
    }

    .empresa p{
      color: white;
      font-size: 12.5px;
      /*margin: 18px 0px 0px 45px;*/
      margin: 18px 0px 0px 5px;
      visibility: hidden; /* ESTO ES PARA CAMBIAR EL TEXTO DE LA ETIQUETA P */
    }

    /* ESTO ES PARA CAMBIAR EL TEXTO DE LA ETIQUETA P */
    .empresa p::before{
      content: "";
      visibility: visible;
    }

    .empresa figure{
      /*background: none;*/
      width: 32px;
      height: 32px;
      margin: -22px 0px 0px 5px;
    }

    .empresa img{
      /*display: flex;*/
      width: 25px;
      height: 25px;
    }

    /* ESTO ES PARA LOS ENLACES DEL MENU */
    .navegacion a{
      text-decoration: none;
      color: inherit;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    .menu{
      color: #9B8B99;
      background: #373277;
      display: block;
      position: fixed;
      width: 100%;
      height: auto;
      margin-top: -8px;
      margin-left: -8px;
      text-align: right;
      z-index: 3;
    }

    li{
      display: inline-block;
      list-style: none;
      font-size: .85em;
      margin: 0px 10px;
      /*cursor: pointer*/
    }

    li:hover{
      color: white;
    }

    .empresa{
      /*background: red;*/
      position: absolute;
      width: auto;
      height: 100%;
      margin: -16px 0px 0px 0px;
    }

    .empresa p{
      color: white;
      font-size: 13.5px;
      margin: 18px 0px 0px 45px;
      visibility: hidden; /* ESTO ES PARA CAMBIAR EL TEXTO DE LA ETIQUETA P */
    }

    /* ESTO ES PARA CAMBIAR EL TEXTO DE LA ETIQUETA P */
    .empresa p::before{
      content: "IPIBA EIRL";
      visibility: visible;
    }

    .empresa figure{
      /*background: none;*/
      width: 32px;
      height: 32px;
      margin: -22px 0px 0px 5px;
    }

    .empresa img{
      /*display: flex;*/
      width: 25px;
      height: 25px;
    }

    /* ESTO ES PARA LOS ENLACES DEL MENU */
    .navegacion a{
      text-decoration: none;
      color: inherit;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    .menu{
      color: #9B8B99;
      background: #373277;
      display: block;
      position: fixed;
      width: 100%;
      height: auto;
      margin-top: -8px;
      margin-left: -8px;
      text-align: right;
      z-index: 3;
    }

    li{
      display: inline-block;
      list-style: none;
      font-size: .95em;
      margin: 0px 10px;
      /*cursor: pointer*/
    }

    li:hover{
      color: white;
    }

    .empresa{
      /*background: red;*/
      position: absolute;
      width: auto;
      height: 100%;
      margin: -16px 0px 0px 0px;
    }

    .empresa p{
      color: white;
      font-size: 16px;
      margin: 16px 0px 0px 45px;
    }

    .empresa figure{
      /*background: none;*/
      width: 32px;
      height: 32px;
      margin: -24px 0px 0px 5px;
    }

    .empresa img{
      /*display: flex;*/
      width: 28px;
      height: 28px;
    }

    /* ESTO ES PARA LOS ENLACES DEL MENU */
    .navegacion a{
      text-decoration: none;
      color: inherit;
    }
}

@media (min-width: 1025px) and (max-width: 1200px){
    .menu{
      color: #9B8B99;
      background: #373277;
      display: block;
      position: fixed;
      width: 100%;
      height: auto;
      margin-top: -8px;
      margin-left: -8px;
      text-align: right;
      z-index: 3;
    }

    li{
      display: inline-block;
      list-style: none;
      font-size: 1.05em;
      margin: 0px 25px;
      /*cursor: pointer*/
    }

    li:hover{
      color: white;
    }

    .empresa{
      /*background: red;*/
      position: absolute;
      width: auto;
      height: 100%;
      margin: -16px 0px 0px 0px;
    }

    .empresa p{
      color: white;
      font-size: 19px;
      margin: 15px 0px 0px 45px;
    }

    .empresa figure{
      /*background: none;*/
      width: 32px;
      height: 32px;
      margin: -27px 0px 0px 5px;
    }

    .empresa img{
      /*display: flex;*/
      width: 30px;
      height: 30px;
    }

    /* ESTO ES PARA LOS ENLACES DEL MENU */
    .navegacion a{
      text-decoration: none;
      color: inherit;
    }
}

@media (min-width: 1201px){
    .menu{
      color: #9B8B99;
      background: #373277;
      display: block;
      position: fixed;
      width: 100%;
      height: auto;
      margin-top: -8px;
      margin-left: -8px;
      text-align: right;
      z-index: 3;
    }

    li{
      display: inline-block;
      list-style: none;
      font-size: 1.15em;
      margin: 0px 25px;
      /*cursor: pointer*/
    }

    li:hover{
      color: white;
    }

    .empresa{
      /*background: red;*/
      position: absolute;
      width: auto;
      height: 100%;
      margin: -16px 0px 0px 0px;
    }

    .empresa p{
      color: white;
      font-size: 20px;
      margin: 12px 0px 0px 45px;
    }

    .empresa figure{
      /*background: none;*/
      width: 32px;
      height: 32px;
      margin: -27px 0px 0px 5px;
    }

    .empresa img{
      /*display: flex;*/
      width: 32px;
      height: 32px;
    }

    /* ESTO ES PARA LOS ENLACES DEL MENU */
    .navegacion a{
      text-decoration: none;
      color: inherit;
    }
}
